---
import { Image } from "astro:assets";
import distriktsSigill from './_index_assets/Distriktsigill_frilagt-3.png'
import templetUmea from './_index_assets/Umea_tempel.png'
import { getCollection, render, getEntry } from "astro:content";
import loadContentImage from "../utils/load-content-image";
import MainLayout from "../partials/main-layout.astro";
import LodgesGallery from "../partials/lodges-gallery.astro";
import "../styles/index.css";


const vadArFrimureri = await getEntry('articles', 'vad-ar-frimureri');
const mainTitle = vadArFrimureri?.data.title ?? '';
const sectionsData = await getCollection("frontPageSections");

const sections = await Promise.all(
  sectionsData.map(async (section) => {
    let linkUrl = null;
    let linkTitle = null;
    let imgLoader = null;

    const { Content } = await render(section);

    if (section.data.link) {
      const linked = await getEntry(section.data.link);
      linkUrl = `${import.meta.env.BASE_URL}/${linked.id}`;
      linkTitle = linked.data.title;
    }

    if (section.data.image) {
      imgLoader = loadContentImage(section.data.image);
    }

    return { Content, linkUrl, linkTitle, imgLoader };
  })
);
---
<MainLayout>
  <section class="image-stack">
    <Image class="background-img" src={templetUmea} alt="Umeå tempel" />
    <div style="display:flex; flex-direction:column; align-items:center; width:100%;">
    <Image class="center-round-img" src={distriktsSigill} alt="Distriktssigill" />
  <div style="text-align:center; font-weight:bold; font-size:2rem; margin-top:0.5rem; margin-bottom:0; color:#222;">
        Fria och Antagna Murare i Sverige
      </div>
    </div>
  </section>

  <section class="three-boxes-section">
    <div class="three-boxes">
      {sections.slice(0, 3).map(({ imgLoader, linkUrl, linkTitle, Content }, i) => (
        <div class="box" key={i}>
          {imgLoader && <Image src={imgLoader} alt="" />}
          <div class="box-content">
            <Content />
          </div>
          {linkUrl ? (
            <a class="box-btn" href={linkUrl}>{linkTitle || 'Läs mer'}</a>
          ) : (
            <button class="box-btn" disabled style="opacity:0.5;cursor:not-allowed">Ingen länk</button>
          )}
        </div>
      ))}
    </div>
  </section>





  <LodgesGallery />
</MainLayout>
