---
import { type CollectionEntry } from 'astro:content'
import {Image} from 'astro:assets'
import loadContentImage from '../utils/load-content-image'
import MainLayout from './main-layout.astro'
import Menu from './menu.astro'


interface Props {article: CollectionEntry<'articles'>['data']}
const {article} = Astro.props
---
<MainLayout title={article.title}>
  <Menu />
  <Image src={loadContentImage(article.image)} alt="" />
  <h1>{article.title}</h1>
  <slot />
</MainLayout>


