---
import {Image} from 'astro:assets'
import formatDate from '../utils/schedule-date-format'
import loadContentImage from '../utils/load-content-image'
import MainLayout from './main-layout.astro'
import Menu from './menu.astro'
import { type CollectionEntry } from 'astro:content'

interface Props {lodge: CollectionEntry<'lodges'>['data']}
const {lodge} = Astro.props
const title = `Logen ${lodge.name} Nr. ${lodge.number}, ${lodge.city}`
---
<MainLayout title={title}>
  <Menu />
 <main>
 <Image src={loadContentImage(lodge.seal)} alt={`Sigill för ${title}`} width="200"/>
 <h1>{title}</h1>
 <slot />
 </main>
 <aside>
   <p>
     <b>Kontakt:</b>
     <a href={`mailto:${lodge.email}`}>{lodge.email}</a>
   </p>
   <p>
     <b>Besöksadress:</b>
     {lodge.streetAddress}, {lodge.city}
   </p>
   <p><b>Arbetsordning:</b><br/>
   {lodge.meetingInfo} </p>
   {lodge.schedule.map((event: {date: Date, work: string}) => (
     <p>
     <b>{formatDate(event.date)}</b> – {event.work}
     </p>
   ))}
 </aside>
</MainLayout>


