---
import {Image} from 'astro:assets'
import { getCollection } from 'astro:content'
import loadContentImage from '../utils/load-content-image'
const lodges = await getCollection('lodges')
lodges.sort((l, r) => (l.data.number - r.data.number))
---
<section>
  {lodges.map(lodge => (
  <a href={`${import.meta.env.BASE_URL}/loger/${lodge.id}`}>
      <Image class="seal" src={loadContentImage(lodge.data.seal)} alt={lodge.data.name} />
      {lodge.data.name}
      {lodge.data.number}
  </a>
  ))}
</section>

<style>
  section {
    background: #eee;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 3rem;
  }
  
  a {
    display: block;
    position: relative;
    text-align: center;
  } 
   
  img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  
</style>