---
import NavMenu from './nav-menu.astro'
const baseTitle = 'Fria och Antagna Murare i Sverige'
const {title} = Astro.props
import '../styles/main.css'
import '../styles/custom-image-layouts.css'
---
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={`${import.meta.env.BASE_URL}/favicon.png`} />
    <link rel="shortcut icon" type="image/png" href={`${import.meta.env.BASE_URL}/favicon.png`} />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}/favicon.png`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} – ${baseTitle}` : baseTitle}</title>
  </head>
  <body>
    <NavMenu />
    <slot />
  </body>
</html>