---
import {getCollection} from 'astro:content'

const current = Astro.url.pathname
const base = import.meta.env.BASE_URL

const articles = (await getCollection('articles'))
  .sort((l, r) => (l.data.order - r.data.order))
  .map(article => ({
    url: `${base}/${article.id}`,
    title: article.data.title
  }))

const lodges = (await getCollection('lodges'))
.sort((l, r) => (l.data.number - r.data.number))
.map(lodge => ({
  url: `${base}/loger/${lodge.id}`,
  title: `${lodge.data.name} ${lodge.data.number}`
}))

const homeItem = {
  url: `${base}/`,
  title: 'Hem'
}

const menuItems = [homeItem, ...articles, ...lodges]
---
<nav>
  <menu>
    {menuItems.map(item => (
      <li class:list={{current: item.url === current}}>
        <a href={item.url}>
        {item.title}
        </a>
      </li>
    ))}
  </menu>
</nav>
<style>
.current {font-weight: bold};
</style>