---
import fs from 'node:fs/promises'

type Link = {url: string, title: string}
type ContentData = {main: {link: Link, submenu?: Link[]}[]}

function isLink(item: Link | Submenu): item is Link {
  return 'url' in item
}

function fixUrl(link:Link):Link {
  return {
    title: link.title,
    url: import.meta.env.BASE_URL + '/' + link.url
  }
}

const menuJSON = await fs.readFile('src/content/meny.json', 'utf-8')
const menu = JSON.parse(menuJSON) as ContentData
const baseurl = import.meta.env.BASE_URL
const current = Astro.url.pathname
---
<nav>
  <menu>
  {(() => {
    const anchor = (link:Link) => {
      const url=`${baseurl}/${link.url}`
      return (
        <a class:list={{current: current===url}} href={url}>
          {link.title}
        </a>
      )
    }
    return menu.main.map(item => !item.submenu ? <li>{anchor(item.link)}</li> : (
        <li>
        {item.link.title}
        <menu>
          <li>{anchor(item.link)}</li>
          {item.submenu.map(subitem => (
            <li>
              {anchor(subitem)}
            </li>
          ))}
        </menu>
        </li>
      ))
  })()}
  </menu>
</nav>
<style>
.current {font-weight: bold;}
</style>